*{
    box-sizing: border-box;
}
body {
    background: #E5E8F5;
}
p {
    font-family: 'Nunito', sans-serif;
}
span {
    padding: 2px;
    border-radius: 5px;
}
.wrapper {
    width: 95%;
    margin: auto;
}
video{
    margin: 0 auto 20px;
    text-align: center;
    box-shadow: 0px 5px 5px skyblue;
}

.captions {
    width:90%;
    margin: 0 auto;
} 

@media(min-width: 760px){
    .wrapper {
        width: 80%;
        margin-bottom: 30px;
    }
    p{
        font-size: 20px;
    }
}
